@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);

body{
    font-family: "Roboto", sans-serif;
    background-color: #F0F4F7;
}

h1{
    text-align: center;
}

.apis{
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 100px;
}

/* .api-pays{
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    height: 80vh;
    width: 60vh;
} */

/* .api-pays h2{
    text-align: center;
} */

/* .api-films{
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    height: 80vh;
    width: 60vh;
}  */

.api-films{
    margin-top: 80px;
}