@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);

.ul-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    background-color: #22263C;
    font-family: "Roboto", sans-serif;
}

.li-menu{
    display: inline;
    float: left;
    width: 7vw;
}

.a-menu{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* .a-menu:hover{
    border-bottom: 2px solid gold;
} */

.li-menu:hover{
    background-color: #111;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 10vw;
    z-index: 1000;
}

.sous::after{
    content: "";
    display: table;
    clear: both;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    /* float: none; */
    /* width: 100%; */
    /* text-align: left; */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
    text-decoration: none;
    color: black;
    /* text-align: left; */
    /* padding-top: 50px; */
}

.sous a:hover{
    border-bottom: none;
    color: salmon;
    /* border-bottom: 2px solid gold; */
    /* background-color: rgba(200, 200, 200, 0.1); */
}

ul .sous{
    padding: 0;
    /* text-align: left; */
}

/* .li-menu-sous{
    text-align: left;
} */

/* .sous .li-menu-sous a{
    text-align: left;
} */

/* .deroulant > a a::after{
    content: " >";
    font-size: 12px;
} */
