.container-img-pres-movie{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.img-pres-movie{
    width: 50vw;
    height: 20vh;
    border-radius: 7px;
}

.h2-pres{
    padding-top: 50px;
    text-decoration: underline;
}

.presentation-films{
    width: 50vw;
    text-align: center;
    border: 2px dotted black;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    padding: 15px;
}

.link-pres-api{
    text-decoration: none;
    color: white;
}

.link-pres-api:hover{
    text-decoration: underline;
    color: gold;
}

.button-pres-api{
    background-color: #22263C;
    border: 1px solid black;
    border-radius: 6px;
    width: 10vw;
    height: 3vh;
    text-align: center;
    padding-top: 7px;
    margin-left: 18vw;
    margin-top: 5vh;
}

.link-doc-api{
    color: black;
}

.link-doc-api:hover{
    color: salmon;
}

.img-api-pres-films-left{
    width: 55px;
    height: 55px;
    padding-top: 20px;
    margin-right: 20px;
}

.img-api-pres-films-right{
    width: 55px;
    height: 55px;
    padding-top: 20px;
    margin-left: 20px;
}